* {
    margin: 0;
}

body {
    padding: 2rem 3rem;
    /* font-family: 'VT323', monospace; */
    font-family: 'Courier New', 'monospace';
    line-height: 1.5rem;
    font-size: 18px;
}

header {
    
    font-size: 18px;
}

header h1 {
    margin-right: 1.5rem;
}

input {
    font-size: 18px;
}
#fichier {
    margin : 5px;
}

pre {
    font-family: 'Courier New', 'monospace';
    margin: 1rem auto;
    font-size: 8px;
    line-height: 1;
}

footer {
    position: absolute;
    bottom: 1rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-left: 2px;
    float: left;
    /*pour IE*/
}

ul li a {
    display: block;
    float: right;
    width: 100px;
    background-color: #6495ED;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color: #DCDCDC #696969 #696969 #DCDCDC;
}

ul li a:hover {
    background-color: #D3D3D3;
    border-color: #696969 #DCDCDC #DCDCDC #696969;
}